*{
    margin: 0;
    /*background-color: #EEEEEE; */
    font-family: "Lexend";
}
.kitlist{
    background-color: #393E46;
    width: 60vw;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center; /* vertically centers image */
    margin: 100px auto 0 auto;
    border-radius: 40px;
}

.insidekitlist{
    height: 100%;
    width: auto;
    object-fit: contain;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
.insidekitlist img{
    height: 80px;
    width: auto;
}
.insidekitlist h3{
    background-color: transparent;
    color: white;
     font-size: 30px;
     padding-left: 10px;
}
.kits{
    background-color: #222831;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    padding: 6px;
}
.discord{
    margin-left: 30px;
    display: flex;
}
.tierlist{
    width: 60vw;
    height: 100vh;
    background-color: #EEEEEE;
    margin: auto;
    margin-top: 20px;
}
.tiers{
    width: 100%;
    background-color: #393E46;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 140px;
}
.selectedtier{
    background-color: #14181e;
}
.kits img:hover{
    background-color: #14181e;
    transition: 0.2s;
}
.player{
    display: flex;
    flex-direction: row;
    background-color: #d5d9e0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: white;
    max-width: 12vw;
}
.tier-column{
    display: flex;
    flex-direction: column; 
    height: 100px;
}
.tier-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
}
.LT{
    background-color: transparent;
    color: black;
}